/* Write your CSS here */
.item-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-right:10px;
}
.image {
  height: 150px;
  width: 200px;
  border-radius: 10px;
}
.place {
  font-size: 12px;
}
